
@font-face {
  font-family: 'TheSans-Plain';
  src: url('TheSans-Plain.eot?#iefix') format('embedded-opentype'),  url('TheSans-Plain.otf')  format('opentype'),
	     url('TheSans-Plain.woff') format('woff'), url('TheSans-Plain.ttf')  format('truetype'), url('TheSans-Plain.svg#TheSans-Plain') format('svg');
  font-weight: normal;
  font-style: normal;
}
